<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
		<property name="hibernate.connection.username">rsingal</property>
		<property name="hibernate.connection.password">rsingal</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.default_schema">rsingal</property>
		<property name="show_sql">false</property>
		<property name="hbm2ddl.auto">validate</property>

		<mapping resource="com/rsingal/hibernateMapping/Employee.hbm.xml"></mapping>
		<mapping resource="com/rsingal/hibernateMapping/Address.hbm.xml"></mapping>
		<mapping resource="com/rsingal/hibernateMapping/Account.hbm.xml"></mapping>
		<mapping resource="com/rsingal/hibernateMapping/Company.hbm.xml"></mapping>
		<mapping resource="com/rsingal/hibernateMapping/Training.hbm.xml"></mapping>
		<mapping resource="com/rsingal/hibernateMapping/EmpTrngMappingExtended.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>